# Note: If you are using Azure App Service, go to your app's Configuration,
# and then set the following values into your app's "Application settings".

# The following variables are required for the app to run.
CLIENT_ID=<client id>
CLIENT_SECRET=<client secret>

# Configure the AUTHORITY variable as
#    "https://login.microsoftonline.com/TENANT_ID"
AUTHORITY=<your authority url>
