{% extends "layout.html" %}

{% block content %}
<h2>Welcome {{ user.get("name") }}!</h2>
<h3>Your SSH Keys</h2>
<ul>
    {% for key in keys %}
    <li>
        {{ key.ssh_key }} {{ key.comment }}
        <form action="{{ url_for('delete_key', key_id=key.id) }}" method="POST" style="display:inline;">
            <button type="submit" onclick="return confirm('Are you sure you want to delete this key?');">🗑</button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </li>
    {% endfor %}
</ul>
<a href="{{ url_for('manage_key') }}" class="btn btn-primary mt-3">Add New SSH Key</a>

<ul>
{% if config.get("ENDPOINT") %}
  <li><a href='/call_downstream_api'>Call a downstream API</a></li>
{% endif %}

{% if config.get("B2C_PROFILE_AUTHORITY") %}
  <li><a href='{{Auth(session={}, authority=config["B2C_PROFILE_AUTHORITY"], client_id=config["CLIENT_ID"]).log_in(redirect_uri=url_for("auth_response", _external=True))["auth_uri"]}}'>Edit Profile</a></li>
{% endif %}
</ul>
{% endblock %}
