{% extends "layout.html" %}

{% block content %}
    {% if user_code %}
    <ol>
      <li>To sign in, type <b>{{ user_code }}</b> into
        <a href='{{ auth_uri }}' target=_blank>{{ auth_uri }}</a>
        to authenticate.
      </li>
      <li>And then <a href="{{ url_for('auth_response') }}">proceed</a>.</li>
    </ol>
    {% else %}
    <a href="{{ auth_uri }}" class="btn btn-primary mt-3">Sign In</a>
    {% endif %}

    {% if config.get("B2C_RESET_PASSWORD_AUTHORITY") %}
    <a href='{{Auth(session={}, authority=config["B2C_RESET_PASSWORD_AUTHORITY"], client_id=config["CLIENT_ID"]).log_in(redirect_uri=url_for("auth_response", _external=True))["auth_uri"]}}'>Reset Password</a>
    {% endif %}
{% endblock %}
