{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    {% if stage == "add" %}
        <h2>Add New SSH Key</h2>
        <p>Enter your public SSH key below to begin the verification process.</p>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%"></div>
        </div>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label for="public_key" class="form-label">Public SSH Key</label>
                {{ form.public_key(class="form-control", id="public_key", rows=4) }}
                {% for error in form.public_key.errors %}
                    <div class="text-danger mt-1">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Add a comment to identify your key(optional)</label>
                {{ form.comment(class="form-control", id="comment", rows=1) }}
                {% for error in form.comment.errors %}
                    <div class="text-danger mt-1">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit" name="public_key_submit" class="btn btn-primary">Submit</button>
        </form>
    {% elif stage == "verify" %}
        <h2>Verify Your SSH Key</h2>
        <p>
            Run the command below on your system to verify ownership of the provided key. Then paste the verification output below.
        </p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="nix-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">bash/sh/zsh (Linux/macOS,Windows)</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="win-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">PowerShell (Windows)</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="nix-tab" tabindex="0">
                <div class="alert alert-info">
                  <p> Use the following command to verify your key if you are using a bash-like shell, such as bash, zsh, MobaXterm, or Git Bash.</p>
                  <strong>Verification Command:</strong>
                  <code>
                      bash <(curl -sL http://{{ request.host }}/verify_key.sh) {{ session.get('challenge') }}
                  </code>
                </div>
              </div>
              <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="win-tab" tabindex="0">
                <div class="alert alert-info">
                    <p> Use the following command to verify your key if you are using PowerShell.<br>
                  <b> Note:</b> You need to replace <code>/path/to/private_key</code> with the path to your private key file.</p>
                  <strong>Verification Command:</strong>
                  <code>
                      echo "{{ session.get('challenge') }}" | ssh-keygen -Y sign -f /path/to/private_key -n file
                  </code><br><br>
                </div>
              </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%"></div>
        </div>

        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label for="challenge_response" class="form-label">Verification Output</label>
                {{ form.challenge_response(class="form-control", id="challenge_response", rows=4) }}
                {% for error in form.challenge_response.errors %}
                    <div class="text-danger mt-1">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit" name="challenge_response_submit" class="btn btn-primary">Verify</button>
        </form>
    {% endif %}
</div>
{% endblock %}

