# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure App Service: https://aka.ms/python-webapps-actions

name: Build and deploy Python app to Azure Web App - ssh-keyservice-dev

on:
  push:
    branches:
      - 60-add-terraform-support
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python version
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install poetry
        run: |
          python -m pip install poetry

      - name: Install dependencies
        run: |
          python -m poetry install --with test

      - name: Run tests
        run: python -m poetry run pytest -v -s
  build:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python version
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install poetry
        run: |
          python -m pip install poetry
          python -m poetry self add poetry-plugin-export

      - name: Install dependencies
        run: |
          python -m poetry export --format requirements.txt --output requirements.txt

      - name: Create and start virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Zip artifact for deployment
        run: zip release.zip ./* -r

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v5
        with:
          name: python-app
          path: |
            release.zip
            !venv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v6
        with:
          name: python-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.TEST_CLIENTID }}
          tenant-id: ${{ secrets.TEST_TENANTID }}
          subscription-id: ${{ secrets.TEST_SUBSCRIPTIONID }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'ssh-keyservice-dev'
          slot-name: 'Production'

